<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
        <!-- Define a block of content where the content is passed via the child template -->
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
    <!-- <h1> Home Page </h1>
    Can use double curly braces to render variables
    <p> Welcome to the home page, {{name}}</p>
    <p> {{number}}</p> -->
    <!-- Can write Python code to execute, should show hello 10 times   -->
    <!-- {% for _ in range(10) %}
     <p>Hello!</p>
     {% endfor %}  -->
     <h1>Sam's Website</h1>
     {% block content %}
     {% endblock %}
    
</body>
</html>